:root {
    --mainBlue: #006699;
    --textBlue: #14B1FF;
    --mainGreen: #339966;
    --textGreen: #3CBE76;
    --darkGray: #403B41;
    --softGray: #DEDEDE;
    --serif: 'David Libre', serif;
    --sansSerif: 'Arimo', sans-serif;
}