:root {
    /* --mainBlue: #006699;
    --mainGreen: #339966;
    --darkGray: hsla(290, 0%, 24%, 1);
    --midGray: hsla(145, 0%, 32%, 1);
    --softGray: hsla(0, 0%, 87%, 1);
    --gradient: linear-gradient(to right,var(--mainGreen),var(--mainBlue)); */

    --headerFont: 'Oswald', sans-serif;
    --bodyFont: 'Arimo', sans-serif;
    --darkBackground: #3B5978;
    --lightBackground: #A9B7B3;
    --darkText: #31251C;
    --lightText: #E6E9EE;
    --accentSolid: #F3C653;
    --accentDarkSolid: #7A2452;
    --accentGradient: linear-gradient(270deg, #7A2452 0%, #F3C653 32.92%, #7A2452 65.21%, #F3C653 100%); 
}